@{
    ViewBag.Title = "Pagina de cálculadora básica";
}
<h1>Bienvenido a la @ViewData["Title"]</h1>


<form asp-controller="Home" asp-action="bcalc" method="post">
    Numero 1 : <input name="n1" type="text" /> <br /><br />
    Numero 2 : <input name="n2" type="text" @if (ViewBag.Action == "RaizCuadrada")
                      {
        <text>disabled</text>
    }
    /> <br /><br />

    <input type="submit" value="+" formaction="Suma" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="-" formaction="Resta" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="x" formaction="Multiplicacion" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="/" formaction="Division" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="√" formaction="RaizCuadrada" /> &nbsp;&nbsp;&nbsp;
    <input type="submit" value="%" formaction="Modulo" /> &nbsp;&nbsp;&nbsp;

</form>

<h2 style="color:crimson; background-color:darksalmon; padding:10px;">
    @ViewBag.Result
</h2>

<br />
<h3>Advertencia: Para la Raiz Cuadrada solo digite en el Primer Espacio que dice Numero 1 
    no es valido ponerlo en ambos espacios siendo Numero 1 y Numero 2 o solo ponerlo en el 
    otro espacio siendo numero 2</h3>
<br />










